$orange-darkest: #993400;
$orange-darker: #C74300;
$orange: #FF5600;
$orange-lighter: #F88D56;
$orange-lightest: #FFDAC8;

$yellow-darkest: #995C00;
$yellow-darker: #C77700;
$gold: #FFBF00;
$yellow: #FF9900;
$yellow-lighter: #F8B756;
$yellow-lightest: #FFE9C8;

$blue-darkest: #023264;
$blue-darker: #074382;
$blue: #0D58A6;
$blue-lighter: #4070A1;
$blue-lightest: #95A8BB;

$green-darkest: #006644;
$green-darker: #008559;
$green: #00AA72;
$green-lighter: #39A582;
$green-lightest: #95BEB0;

$black: #000000;
$grey-ultra-dark: #111111;
$grey-darkest: #333333;
$grey-darker: #666666;
$grey: #999999;
$grey-lighter: #AAAAAA;
$grey-lightest: #CCCCCC;
$grey-ultra-light: #EEEEEE;
$white: #FFFFFF;